<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thales - Library Management System</title>
</head>
<body>
    <h1>New Author</h1>
    <form method="POST">
      <input type="text" name="name" placeholder="Name" required>
        <input type="submit" value="Send">
    </form>
</body>
</html>
